{% extends 'base.html' %}

{% block title %}
Войти
{% endblock %}

{% block content %}
<div class="row">
    <h1 align="center">Вход</h1>
    <div class="col-md-3 mx-auto text-center">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            {{ field }}
            {% if field.errors %}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-success">Войти</button>
        </form>
        <a href="{% url 'users:password_reset' %}">Восстановить пароль</a>
    </div>
</div>
{% endblock %}
